node_modules/
tests_report/

breach-crons/
cron/
live-cron-march/
live-cron-feb-2020/
cron-sprint-12/
cron-sprint-11/
cron-sprint-10/
cron-live-august
log/
public/
mini_admin/
test_files/

; Routes
routes/sap_old_r.js

; Controller 
controllers/bundle_backup.js
controllers/ext_old.js
controllers/tasks_old.js
controllers/tasks-06-01-2020.js

; Helper


; Models
models/agents-before-new-order.js
models/analytics-before-new-order.js
models/crm-before-new-order.js
models/customers-before-new-order.js
models/drl-before-new-order.js
models/ext-before-new-order.js
models/feed-before-new-order.js
models/myTeam-before-new-order.js
models/myTeamTasks-before-new-order.js
models/product-before-new-order.js
models/tasks-before-new-order.js
models/tasks_old_pause_logic.js
models/wgos-before-new-order.js
models/test.sql
models/soap_old.js
models/myTeam_backup.js

coa.wsdl
customer.wsdl
google_key.json
google_key_old.json
inspection_lot.wsdl
invoice.wsdl
invoice_us.wsdl
Orders.jsx
product.wsdl
sales_order.json
sales_order.wsdl
sales_order_26_04_2021.wsdl
so.json
soap_invoice_us.js
socket-io.js